body {
  margin: 0;
  padding: 0;
  margin: 20px auto;
}
.wrapper {
  width: 550px;
  margin: 0 auto;
}
#app {
  display: flex;
  justify-content: space-between;
}
.left {
  display: block;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.lefta {
  display: block;
  background-color: rgb(211, 211, 211);
  color: black;
  border: 3px solid rgb(165, 160, 160);
  width: 120px;
  text-align: center;
  text-decoration: none;
  margin-top: 3px;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: black;
    color: rgb(211, 211, 211);
  }
}
.lefts {
  display: block;
  background-color: rgb(214, 241, 56);
  border: 3px solid rgb(110, 167, 19);
  margin-top: 3px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: rgb(60, 119, 4);
  }
}
.right {
  width: 400px;
}
.rights {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
.righttext {
  text-indent: 20px;
  padding: 10px;
  box-shadow: 0px 2px 18px rgb(133, 129, 129);
  border: none;
  font-family: cursive;
}
.left_top {
  display: block;
}
.right_bottom {
  display: block;
  text-align-last: center;
  font-size: 20px;
  margin-top: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 2px 11px 2px grey;
}
